@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


body{
    font-size: 18px;
    background-color: #24252A;
    color: rgb(255, 255, 255);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.container{
    width: 100%;
    padding: 0 8%;
    background: #24252A;
    background-size: cover;
    border-radius: 50px;
}

.menu .back .item{
    display: none;
}

#RRC-header-bg{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    max-width: calc(100% + 20%);
    background: #FDCD2D url("wallpaper.jpg") no-repeat/100% auto;
}

#RRC-header{
    position: relative;
    z-index: 2000;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.header-nav{
    padding: 1.5%;
}

.RRC-nav-items{
    display: flex;
    align-items: center;
}

.RRC-nav-items .logo--1{
    position: relative;
    margin-left: auto;
    margin: auto;
}

.RRC-nav-items .item--1{
    margin-right: auto;
}

.RRC-nav-items .item--2{
    position: relative;
    top: 0;
}

.header-nav .item{
    font-size: 18px;
    color: #dbdbd8;
    font-weight: 600;
    text-decoration: none;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    margin-right: 50px;
}

.header-nav .item:after{
    content: "";
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 3px;
    border-radius: 50px;
}

.header-nav .item:focus,
.header-nav .item:hover{
    color: #dbdbd8;
}

.header-nav .item.active{
    color: #FEC60D;
}

.header-nav .item.active:after{
    width: 75px;
    height: 3px;
    color: #FEC60D;
}

.header-logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 50%;
    height: 35%;
    max-width: 90%;
    background: url("icon.ico") no repeat center/100% auto;
}

.header-controls .r-header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .item-connexion{
    margin-right: 30px;
    margin-top: 30px;
}

.btn {
font-family: "Montserrat", sans-serif;
color: #fff;
border: 1px solid transparent;
padding: 0.5rem 1.5rem;
background-color: #FDCD2D;
border-radius: 50px;
margin-top: 1rem;
font-size: 1rem;
transition: transform 0.3s, box-shadow 0.3s;
}

section {
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
}

.form-wrapper {
display: flex;
justify-content: center;
align-items: center;
flex: auto;
}

.form-wrapper .card {
width: 360px;
padding: 20px;
background-color: rgb(0 0 0 /35%);
visibility: hidden;
opacity: 0;
transition: opacity 0.3s, visibility 0.3s;
}

.card.show {
visibility: visible;
opacity: 1;
}

.card-header {
display: flex;
justify-content: space-evenly;
align-items: center;
margin: 30px 20px 0;
font-size: 1.1rem;
color: #FDCD2D;
box-shadow: 2px 3px 8px #CD9F07;
border-radius: 50px;
}

.card-header .form-header {
flex: 50%;
text-align: center;
padding: 10px 0;
border: 1px solid transparent;
border-radius: 50px;
user-select: none;
cursor: pointer;
}

.card-header .form-header.active {
box-shadow: inset 1px 1px 2px rgb(239 188 47 /55%), inset -1px 1px 2px rgb(239 188 47 /55%), inset -1px -1px 2px rgb(239 188 47 /55%), inset 1px -1px 2px rgb(239 188 47 /55%);
border-color: #FDCD2D;
transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body {
display: flex;
flex-wrap: nowrap;
padding: 40px 0;
text-align: center;
}

form {
flex: 0 0 100%;
}

.toggleForm {
visibility: hidden;
opacity: 0;
transition: opacity 0.3s, visibility 0.3s;
}

.form-control {
width: 100%;
border: none;
border-bottom: 1px solid rgb(201 152 19 /65%);
background: none;
outline: none;
padding: 10px 5px;
margin-bottom: 20px;
color: #fff;
}

.form-control::placeholder {
color: rgb(201 152 19 /65%);
}

.formButton {
border: 1px solid transparent;
padding: 1rem 3rem;
background-color: #FDCD2D;
border-radius: 50px;
margin-top: 1rem;
font-size: 1rem;
transition: transform 0.3s, box-shadow 0.3s;
}

.formButton:hover {
box-shadow: 3px 5px 15px #FDCD2D;
transform: translateY(-5px);
}
