@import url('https://fonts.googleapis.com/css?family=Montserrat:500');


body{
    font-size: 18px;
    background-color: #24252A;
    color: rgb(255, 255, 255);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

#backgroundImageMain {
    width: 100%;
}

/*Barre en haut de navigation*/

.container{
    width: 100%;
    padding: 0% 2%;
    box-sizing: border-box;
}

.menu .back .item{
    display: none;
}

#RRC-header-bg{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    max-width: calc(100% + 20%);
    background-image: "background-header.png";
}

#RRC-header{
    position: relative;
    z-index: 2000;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.header-nav{
    padding: 1.5%;
}

.RRC-nav-items{
    display: flex;
    align-items: center;
}

.RRC-nav-items .logo--1{
    position: relative;
    margin-left: auto;
    margin: auto;
}

.RRC-nav-items .item--1{
    margin-right: auto;
}

.RRC-nav-items .item--2{
    position: relative;
    top: 0;
}

.header-nav .item{
    font-size: 18px;
    color: #dbdbd8;
    font-weight: 600;
    text-decoration: none;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    margin-right: 50px;
}

.header-nav .item:after{
    content: "";
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 3px;
    border-radius: 50px;
}

.header-nav .item:focus,
.header-nav .item:hover{
    color: #dbdbd8;
}

.header-nav .item.active{
    color: #FEC60D;
}

.header-nav .item.active:after{
    width: 75px;
    height: 3px;
    color: #FEC60D;
}

.header-logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 50%;
    height: 35%;
    max-width: 90%;
    background: url("icon.ico") no repeat center/100% auto;
}

.header-controls .r-header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .item-connexion{
    margin-right: 30px;
    margin-top: 30px;
}

/*graphique de connexion*/

.connexion {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin-right: 30px;

}

form{
    margin-top: 20px ;
    background-color: #1d1e20 ;
    padding: 40px 60px;
    border-radius: 20px;
    min-width: 300px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 200px;
}

form h1{
    color: #FEC60D;
    text-align: center;
}

form .inputs{
    display: flex;
    flex-direction: column;
}

form .inputs input[type="email"], input[type="password"]{
    padding: 15px;
    border-radius: 7px;
    border: none;
    background-color: #d1cdcd;
    margin-bottom: 15px;
    outline: none;
}

form p.inscription{
    font-size: 15px;
    margin-bottom: 20px;
    color: #d1cdcd;
}

form p.inscription span{
    color: #FEC60D;
}

form button{
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    color: #1d1e20;
    font-weight: bold;
    margin-right: 30px;
}

.page-content header{
    font-family: "Montserrat", sans-serif;
    margin: 10%;
    align-items: center;
}

section .page {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

/*boutton connexion*/

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin-right: 30px;
}


button {
    padding: 9px 25px;
    background-color: #FEC60D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 30px;
}

button:hover {
    background-color: #FDCD2D;
    margin-right: 30px;
}

.image {
    text-align: center;
    padding: 50px;
}

/*pied de page*/

footer {
    background-color: #1a1a1a;
    font-family: "Montserrat", sans-serif;
    padding: 25px 10px;
    color: #828282;
    margin-top: 100px;
}
footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    margin-right: 0px;
    justify-content: space-between;
}
.lien_footer {
    color: #828282;
}

.text_footer {
    color: #ffff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.text_footer:hover {
    color: #828282;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.os{
    margin: 400px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    font-size: 100px;
    padding: 25px 10px;
    margin-inline-end: 100px;
    margin-block-start: 100px;
    box-sizing: 1000px;
    justify-content: space-between;
    size: 100px;
}

.titre-download{
    margin-top: auto;
    color: #FDCD2D;
    box-sizing: border-box;
    background-color: #24252A;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.titre-download2{
    margin-top: auto;
    color: #eae43c;
    box-sizing: border-box;
    background-color: #24252A;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#page{
    position: relative;
    display: flex;
}

#full-size{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

.boite-index{
    background: #1d1e20;
    border-radius: 50px;
    text-align: center;
    width: 80vw;
    padding: 2%;
    margin-bottom: 2%;
}

.update-title{
    font-weight: 600;
    font-size: 20px;
    color: #FDCD2D;
    text-align: left;
    text-shadow: #1a1a1a;
}

.update-date{
    font-size: 16px;
    font-weight: 200;
    color: #828282;
    text-align: left;
    padding: 0% 3%;
}

.motif{
    border-top: 1px solid #828282;
    text-align: left;
    font-size: 14px;
    color: #828282;
    padding: 1% 5%;
}

.contenues{
    flex-direction: row;
    display: flex;
    align-items: center;
    size-adjust: auto;
    size: 50%;
}

.boite-index .wallpaper{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

/*Bouton pour copier l'ip*/

.button .header-btn {
    background: var(--theme-button-background);
    color: var(--theme-button-color);
    padding: 15px 20px;
    min-width: 200px;
    border: 0;
    font-weight: bold;
    border-radius: 15px;
    position: relative;
    transition: all ease 0.3s;
    animation: pulse 2s infinite;
}
.header-btn:hover {
    background: var(--theme-button-background-2);
    color: var(--theme-button-color);
    transition: all ease 0.3s;
}
.header-btn .ip {
    display: block;
    letter-spacing: 1.2px;
    transition: all ease 0.3s;
}
.header-btn:hover .ip {
    transform: translateY(-7px);
    transition: all ease 0.3s;
}
.header-btn .after {
    position: absolute;
    bottom: 5px;
    left: 0;
    opacity: 0;
    font-size: 12px;
    right: 0;
    transition: all ease 0.3s;
}
.header-btn:hover .after {
    opacity: 1;
    transition: all ease 0.3s;
}














































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































