#full-size{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-bottom: 1px solid rgb(150,150,150);
    font-weight: 900;
    font-size: large;
    color: rgb(50,50,50);
    padding: 0% 2% 2% 2%;
}

.titre{
    font-weight: 900;
    font-size: 64px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 2% 2% 4%;
}

.sous-titre{
    border-top: 1px solid rgb(100,100,100);
    font-weight: 900;
    font-size: large;
    color: rgb(50,50,50);
    text-align: left;
    padding: 5% 2% 1% 2%;
}

.contenu{
    color: rgb(0,0,0);
    text-align: left;
    padding: 2%;
}

.contenus{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0% 2% 2% 2%;
    border-top: 1px solid rgb(100,100,100);
}